<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professional.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professional.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @professional.cpf %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @professional.celular %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @professional.fone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @professional.company_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @professional.number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @professional.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @professional.zip %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @professional.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @professional.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @professional.state %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @professional.observation %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @professional.situation %>
</p>

<p>
  <strong>Function:</strong>
  <%= @professional.function %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
