<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <i class="material-icons md-48 icon-title">accessible</i>
    <label class="label-title">Cadastro de Usuarios</label>
  </div>
</div>

<%= form_for @user ,:html => {:class => "form-horizontal center"}  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :company_id, :value => @user.company_id %>

  <div class="col-lg-11  div-inter">
            <br>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-1">
                        <label>Nome:</label>
                        <%= f.text_field :name, :class =>"form-control input-sm " %>
                    </div>
                    <div class="col-md-5">
                      <label>Email:</label>
                      <%= f.text_field :email, :class =>"form-control input-sm text-lowercase " %>
                     </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-1">
                      <%= f.label :restart_login, "Trocar Senha", class: "col-lg-2 control-label" %>
                        <%= f.check_box :restart_login, {},"true","false" %>
                    </div>
                    <%= f.label :adm, "Administrador do sistema:", class: "col-lg-2 control-label" %>
                    <%= f.check_box :adm, {},"true","false" %>
                    <div class="col-md-6 ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                  <div class=" col-md-10 col-md-offset-1 alert alert-info">
                    Para troca de senha é necessario marcar a opção acima e efetuar o proximo acesso com a senha "inicio@123"
                  </div>
                </div>
            </div>

          <div class="row">
              <div class="form-group">
                  <div class="col-md-2 col-md-offset-1">
                    <%= f.submit 'Confirmar', :class =>"btn btn-primary btn-block btn-sm" %>
                  </div>
                  <div class="col-md-2">
                    <%= link_to 'Cancelar', users_path,{:class =>"btn btn-danger btn-block  btn-sm"}%>
                  </div>
              </div>
          </div>
</div>

<br>
<br>
<% end %>
