<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @client.celular %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @client.fone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @client.company_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @client.number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @client.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @client.observation %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @client.situation %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
