<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @scheduller.company_id %>
</p>


<p>
  <strong>User:</strong>
  <%= @scheduller.user_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @scheduller.client_id %>
</p>

<p>
  <strong>Professional:</strong>
  <%= @scheduller.professional_id %>
</p>


<p>
  <strong>Observation:</strong>
  <%= @scheduller.observation %>
</p>

<%= link_to 'Edit', edit_scheduller_path(@scheduller) %> |
<%= link_to 'Back', schedullers_path %>
