<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <i class="material-icons md-48 icon-title">wc</i>
    <label class="label-title">Cadastro de Oporadoras</label>
  </div>
</div>


<%= form_for @card_operator ,:html => {:class => "form-horizontal center"}  do |f| %>
  <% if @card_operator.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @card_operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :company_id, :value => @card_operator.company_id %>


  <div class="col-lg-11  div-inter">
            <br>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <label>Nome:</label>
                        <%= f.text_field :name, :class =>"form-control input-sm " %>
                    </div>
                </div>
            </div>

          <div class="row">
              <div class="form-group">
                  <div class="col-md-2 col-md-offset-1">
                    <%= f.submit 'Confirmar', :class =>"btn btn-primary btn-block btn-sm" %>
                  </div>
                  <div class="col-md-2">
                    <%= link_to 'Cancelar', card_operators_path,{:class =>"btn btn-danger btn-block  btn-sm"}%>
                  </div>
              </div>
          </div>
</div>

<br>
<br>
<% end %>

