<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agreement.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agreement.email %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @agreement.cnpj %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @agreement.fone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @agreement.company_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @agreement.number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agreement.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @agreement.zip %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @agreement.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @agreement.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @agreement.state %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @agreement.observation %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @agreement.contact %>
</p>

<p>
  <strong>Site:</strong>
  <%= @agreement.site %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
