<div class="row">
    <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
            <label>HMA:</label>
            <%= f.text_area :hma,rows:2, :class =>"form-control input-sm"%>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
            <label>Antacedentes:</label>
            <%= f.text_area :antecedentes,rows:2, :class =>"form-control input-sm"%>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
            <label>Medicamentos:</label>
            <%= f.text_area :medicamentos,rows:2, :class =>"form-control input-sm"%>
        </div>
    </div>
</div>

<div class="row">
  <div class="form-group">
      <div class="col-md-10 col-md-offset-1">
          <label>Habitos:</label>
          <%= f.text_area :habitos, rows:2,:class =>"form-control input-sm"%>
      </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
      <div class="col-md-10 col-md-offset-1">
          <label>ISDA:</label>
          <%= f.text_area :isda,rows:2, :class =>"form-control input-sm"%>
      </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
      <div class="col-md-10 col-md-offset-1">
          <label>Exame Fisico:</label>
          <%= f.text_area :exame_fisico,rows:5, :class =>"form-control input-sm"%>
      </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
      <div class="col-md-10 col-md-offset-1">
          <label>Diagnostico:</label>
          <%= f.text_area :diagnostico, rows:2,:class =>"form-control input-sm"%>
      </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
      <div class="col-md-10 col-md-offset-1">
          <label>Conduta:</label>
          <%= f.text_area :conduta, rows:3,:class =>"form-control input-sm"%>
      </div>
  </div>
</div>
